body{
    background: url(../images/fondo.jpeg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    font-family: 'Opera 3', cursive;
}
h1{
    color:rgb(29, 54, 194);
    font-size: 6em;
    text-align: center;
    text-shadow: 2px 5px #000 ;
}
h2{
    font-size: 38px;
    text-align: center;
    font-family:opera 3;
    position: relative;
    bottom: 100px;
}
p{
    text-align: center;
    position: relative;
    bottom: 100px;
    font-family: 'Silkscreen';
}
a{
    color:rgb(29, 54, 194);
    font-size: 30px;
    text-align: center;
}
.id{
    position: relative;
    bottom: 10px;
    right: 90px;
}

/*Hasta aquí detalles de estilo del documento index*/

.ventana {
    width: 400px;
    height: 340px;
    margin: auto;
    margin-top: 1px;
    background-color: rgb(29, 54, 194);
    padding: 33px;
    display: none;
    border-radius: 15px;
    position: relative;
    bottom: 400px;
}
.ventana h5 {
    margin: 0;
    text-align: center;
    color: aliceblue;
    text-shadow: #000 1px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    height: 40px;
    font-size: 20px;
}
.caja{
    text-align: center;
    line-height: 60px;
    margin: 10px;
}
#cerrar {
    position: absolute;
    left: 430px;
    top: 3px;
}
label {
    color: aliceblue;
}
/*Hasta aquí detalles de estilo del documento index, ventana para trabajadores*/

#publicarte{
    background: url(../images/fondo.jpeg);
    background-size: cover;
}
.container{
    width: 100%;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;

}

.slider{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite;
    alternate linear;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 50%;
    height: 50%;
}
@keyframes cambio{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
.servicios{
    text-align: center;
    background-color: rgba(119, 186, 189, 30%);
    font-size: 22px;
    margin: 1px 4px;
    margin-top: 12px;
    margin-inline-start: 17px;
    border-style: inset;
    border-radius: 15px;
    position: relative;
    bottom: 1px;
}
.precios{
    background-color: rgba(119, 186, 189, 30%);
    font-size: 32px;
    text-align: center;
    margin: 1px 4px;
    margin-top: 12px;
    margin-inline-start: 17px;
    border-style: inset;
    border-radius: 15px;
}
.caja {
    background-color: rgb(217, 241, 250);
    padding: 5px;
    width: 300px;
    text-align: center;
    margin: 1px 460px;
    border-style: inset;
    border-radius: 15px;
    position: relative;
    bottom: 20px;
}


.controls {
    font-weight: bold;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    font-size: 14px;
    background-color: aliceblue;
}

.buttons {
    width: auto;
    height: 40px;
    color: aliceblue;
}

#contenedor {
    text-align: center;
}
form{
    text-align: center;
}
span{
    text-align: center;
    display:block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 51ch;

    animation: typing 2s steps(51), blink .5s infinite step-end alternate;
    overflow:hidden;
    }
    @keyFrames typing {
        from {widtn:0}
    }
    @keyFrames blink {
        50% {border-clor:transparent}
    }></span>